/********** Template CSS **********/
:root {
    --primary: #467bec;
    --light: #EFF5FF;
    --dark: #1B2C51;
}

.bg-primary {
    background-color: var(--primary);
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Cookie bar ***/
.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    z-index: 1000; /* Ensure it appears above other content */
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically center-aligns items */
    justify-content: center; /* Horizontally centers content */
}

.cookie-consent-banner p {
    margin: 0;
    font-size: 16px;
}

#acceptCookieConsent {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/*** Audio boxes ***/
.audio-box {
    padding: 20px 100px;
}
audio {
    width: 100%; 
}

@media (max-width: 770px) {
    .audio-box {
        padding: 20px 20px;
    }
    audio {
        width: 80%; /* Smaller width on smaller screens */
        /* Other adjustments as needed */
    }
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.custom-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/

.midImage {
    position: relative;
    text-align: center;
    color: black;
    width: 100%;
}

.centeredIma {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bannerImg {
    width: 100%;
}

@media (max-width: 767px) {
    .display-5 {
        font-size: 25px;
    }
}


.containerBox {
    display: flex;
    height: 130px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.containerBoxBlue {
    background-color: #467bec;
}

.containerBoxGreen {
    background-color: #609248;
}

.containerBoxMain {
    background-color: #467bec;
    height: auto;
    padding: 20px 0;
    display: block;
}

.containerBox h4 {
    z-index: 1;
    color: white;
    font-weight: 100;
}

.containerBoxMain h4 {
    z-index: 1;
    color: white;
    font-weight: 100;
}

.header-carousel .owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;

    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;

}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-life {
    background: url(../img/lifestory.jpg) top center no-repeat;
    background-size: cover;
    height: 100%;
}

.header-meaningful {
    background: url(../img/bannerMeaningful.jpg) top center no-repeat;
    background-size: cover;
}

.header-home {
    background: url(../img/banner.jpg) top center no-repeat;
    background-size: cover;
    min-height: 30vh;
}

@media (max-width: 768px) {
    .header-home  {
        min-height: 20vh; /* Slightly larger for smaller screens */
    }
}

@media (max-width: 480px) {
    .header-home  {
        min-height: 10vh; /* Even larger for very small screens */
    }
}



.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Service ***/
.service-item {
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}

/*** Languages ***/
.language-switcher {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.banner-text p {
    color: white;
    margin: 0 0 10px;
    font-size: 18px;
}

.flag-button {
    cursor: pointer;
    display: inline-block;
    /* changed from flex to inline-block for stacking */
}

.flag-button img {
    width: auto;
    /* Bootstrap's img-fluid class will override this as needed */
    height: 100px;
    /* or whatever size you prefer */
    margin-bottom: 5px;
    /* space between flag and text */
}

.flag-button span {
    color: white;
}

@media (max-width: 767px) {

    .flag-button {
        padding-top: 20px;
        max-width: 50%;
    }
}

/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Life ***/
.imgThumb {
    width: 100%; /* Image will occupy 100% width of its container */
    height: auto; /* Height will adjust automatically */
    max-height: 250px; /* Maximum height */
    object-fit: contain; /* This ensures the aspect ratio is maintained */
}



/*** Team ***/

#people-container {
    display: flex;
    flex-wrap: wrap;
}

.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
}

.team-item:hover img {
    top: -30px;
}

.team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s;
}

.team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Checkboxes triangle ***/
.icon-grid {
    display: flex;
    flex-direction: column;
}

.icon-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    flex: 1;
    margin: 0 10px;
}

.icon-image {
    filter: brightness(120) saturate(120%) invert(0.6);
    transition: filter 0.3s;
    max-width: 100px;
}

input[type="checkbox"]:checked+label .icon-image {
    filter: none;
}

.icon-label {
    margin-top: 8px;
    text-align: center;
}

.hidden-checkbox {
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .icon-row {
        flex-wrap: wrap;
        /* Allow wrapping of items */
    }

    .checkbox-container {
        flex: 0 0 48%;
        /* Adjust to ensure two items per row */
        margin: 0 1%;
        /* Adjust margins to fit the screen */
    }
}

@media (max-width: 420px) {
    .icon-image {
        max-width: 80px;
        /* Smaller max-width for icons on smaller screens */
    }
}










/*** Triangle ***/
#triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 87px solid #3498db;
    position: relative;
    margin-top: 30px;
}

#activityList {
    text-align: left;
    margin-top: 20px;
}

.activity-button {
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
    border: 1px solid #3498db;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

/*** Triangle icons ***/
.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon {
    padding: 20px;
    text-align: center;
}

.icon img {
    width: 50px;
    /* You can set the size as you prefer */
    height: auto;
}

@media (max-width: 360px) {
    .icon-container .icon img {
        max-width: 100%; /* Adjust the icon size */
        height: auto; /* Maintain the aspect ratio */
    }

    .icon-container .col p {
        font-size: 0.8rem; /* Decrease font size */
    }

    /* If needed, adjust the padding or margin of the columns */
    .icon-container .col {
        padding: 5px; /* Example padding adjustment */
    }
}

/*** Triangle NEW ***/
.parent {
    position: relative;
    margin-top: 2rem;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    height: fit-content;
    width: 30px;
    position: absolute;
    cursor: pointer;

}

/**
.imi {
    margin-top: -25px;
    padding-left: 10px;
    width: 450px;
}

.one {
    transform: rotate(237deg);
    top: 288px;
    left: 23px;
    width: 205px;
}

.sec {
    transform: rotate(123deg);
    right: 22px;
    top: 287px;

    width: 205px;
}
*/

/** TRIANGEL MED IKONER UTANFÖR **/
.imi {
    margin-top: -25px;
    padding-left: 10px;
    width: 450px;
}

.one {
    transform: rotate(237deg);
    top: 282px;
    left: 42.4px;
    width: 185px;
}

.sec {
    transform: rotate(123deg);
    right: 41px;
    top: 282px;
    width: 185px;
}

.in {
    height: 20px;
    width: 20px;
    background-color: blue;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
    transition: all 0.5s ease-in-out;
}

.in1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.in2 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
}

.zero {
    left: 50%;
    top: 118px;
    transform: translateX(-50%);
    width: 205px;
}

.a {
    color: #333;
    position: absolute;
    top: -39px;
    left: 45%;
    font-weight: 600;

}

.f {
    color: #333;
    position: absolute;
    right: -61px;
    bottom: 84px;
    font-weight: 600;
}

.t {
    color: #333;
    position: absolute;
    bottom: 84px;
    left: -18px;
    font-weight: 600;
}

.ap {
    background: black;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    height: 4px;
    border-radius: 5px;
    transform: rotate(90deg);
    position: absolute;
    width: 100%;
}

/* Styles for .ap.slider class */
.ap.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0px;
    /* Set the track height to 1px */
    background: #ddd;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    opacity: 1;
    /* Make the track invisible */
}

/* Track styling for WebKit browsers */
input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    /* Transparent track */
    opacity: 1;
    /* Make the track fully transparent */
}

/* Thumb styling for WebKit browsers */
.ap.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    /* Smaller thumb width */
    height: 25px;
    /* Smaller thumb height */
    background: var(--primary);
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 50%;
    /* Optional: makes the thumb circular */
    opacity: 1;
    /* Ensure the thumb is fully visible */
}

/* Additional thumb styling for Firefox */
.ap.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--primary);
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
}

/* Additional thumb styling for IE/Edge */
.ap.slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: var(--primary);
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
}


@media (max-width:600px) {
    .f {
        right: 20px;
        bottom: 0px;
        font-weight: 600;
        font-style: 0.8rem;
    }

    .t {
        bottom: 0px;
        left: 30px;
        font-weight: 600;
        font-style: 0.8rem;
    }
}


@media (max-width:452px) {
    .parent {
        width: 100%;
        padding-top: 0%;
    }

    .imi {
        width: 140%;
        margin: -20%;
    }

    .imparent {
        width: 220px !important;
    }

    .zero {
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        width: 132px;
    }

    .sec {
        width: 120px;
        right: -15px;
        top: 165px;
    }

    .one {
        width: 120px;
        top: 165px;
        left: -15px;
    }

    .a {
        top: -56px !important;
        left: 39% !important;

    }

    .f,
    .t {
        bottom: -20px;
    }
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}